/* Add CSS rules here! */
ul {

    width: 306px;
    height: 300px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  
  
  }
  
  ul li{
    font-family: monospace;
    font-weight: bold;
    width:90px;
    height: 90px;
    border: solid white 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    
    font-size: 95px; 
    background: coral;
  
  }
    